html{
	background-color: white;
}
html,body{
	height: 100%;
}
body{
	max-width: 640px;
	margin:0 auto;
	// background-color: #36474F;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
.wrapper { height: 100%; overflow: hidden;position: absolute;top: 0;}
.mint-loadmore-top {
    font-size: 0.16rem;
    color: white;
    text-align: center;
    padding: 0.14rem 0;
}