/* 下拉刷新 */
.wordlist section.refresh { color: #ffffff; text-align: center; margin-top: 45px; padding-top: 5px; }
.wordlist section.refresh p { margin: 10px; }

.wordlist section.word_card { overflow: hidden; min-height: 9rem; left: 0px; float: left; width: 100%; margin-bottom: 0.5rem; margin-top: 0.9rem; }