header.nav_bar { background-color: #E0E0E0;  position: absolute; top: 0; opacity: 1; z-index: 9; width: 100% }
header.nav_bar ._btn { width: 1.2rem; right: 0; }
header.nav_bar div { float: left; }
header.nav_bar div.text { width: 4rem; left: 1.5rem; }
header.nav_bar div p{text-align: center;}
header.nav_bar div p { margin: 0; font-size: 0.3rem; padding: 0.24rem 0; }
